<div class="top-row p-3 m-auto ">
    <div class="container-fluid">
        <img src="images/logo.png" width="140px"/>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable px-5 py-4" onclick="document.querySelector('.navbar-toggler').click()">
	<nav class="d-flex flex-column gap-4">
		<div class="col gap-2">
			<div class="nav-item">
				<NavLink class="d-flex flex-row text-light gap-3 text-decoration-none" href="#">
					<span class="house-icon"></span> <p>Home</p>
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="d-flex flex-row text-light gap-3 text-decoration-none" href="#">
					<span class="music-list-icon"></span> Playlists
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="d-flex flex-row text-light gap-3 text-decoration-none" href="#">
					<span class="create-icon"></span> Create playlist
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="d-flex flex-row text-light gap-3 text-decoration-none" href="#">
					<span class="play-icon"></span> Join session
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="d-flex flex-row text-light gap-3 text-decoration-none" href="#">
					<span class="persons-icon"></span> Current session
				</NavLink>
			</div>
		</div>
		
	
		<hr class="text-white"/>
		
		<div class="d-flex flex-column gap-2 text-white">
			<b>My first playlist</b>
			<b>Xmas bangers</b>
			<b>School party</b>
			<b>Remix tracks</b>
		</div>
		
		<div class="text-white">
			<div>
				<span class="flex">
					<img/> 
					<p>Profile</p>
				</span>
			</div>
			<div>
				<span class="flex">
					<span>test</span> 
					<p>Log out</p>
				</span>
			</div>
		</div>
	</nav>

</div>
